.uno-cv{
    background-color: white;
    height: auto;
}
.dos-cv{
    max-height: auto;
}
.h3-cv {
    color: mediumaquamarine;
}
.h4-cv:hover {
    color: mediumaquamarine;
}
.img-cv{
    width: 150px;
    height: 150px;
}
@media (max-width: 900px) {
    .img-cv{
        display: none;
    }
}

.header-cv{
    padding: 1%;
    width: auto;
    height: 40px;
}

.footer-cv{
    width: auto;
    height: 30px;
}
.ico-cv{
    width: 30px;
    height: 30px;
    border-radius: 150%;
}